.label{
    color: #fff;
}

.select{
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2583ff;
    background-color: transparent;
    color: #fff;
    width: 100%;
}

.select .option{
    background-color: #000;
}